*.swp
*/node_modules/*
extension/docker/api/node_modules/*
extension/docker/api/package-lock.json
*/package-lock.json

tmp/*

Resources/filterLists/*
TestLUT/lists/*
TestLUT/uncommentedLists/*

Rapport/rapport/*.log
Rapport/rapport/*.fls
Rapport/rapport/*.ilg
Rapport/rapport/*.ind
Rapport/rapport/*.latexmk
Rapport/rapport/*.aux
Rapport/rapport/*.gz
Rapport/rapport/*.toc
Rapport/rapport/*.idx
Rapport/rapport/*.bbl
Rapport/rapport/*.bcf
Rapport/rapport/*.blg
Rapport/rapport/*.xml
Rapport/rapport/*.out
Rapport/rapport/*.fdb_latexmk

Rapport/15Jours/*.log
Rapport/15Jours/*.fls
Rapport/15Jours/*.ilg
Rapport/15Jours/*.ind
Rapport/15Jours/*.latexmk
Rapport/15Jours/*.aux
Rapport/15Jours/*.gz
Rapport/15Jours/*.toc
Rapport/15Jours/*.idx
Rapport/15Jours/*.bbl
Rapport/15Jours/*.bcf
Rapport/15Jours/*.blg
Rapport/15Jours/*.xml
Rapport/15Jours/*.out
Rapport/15Jours/*.fdb_latexmk
